<ion-view title="Inicio"><!-- View title -->
    <ion-content padding="true">
        <form>
            <ion-list><!-- Input text field -->
                <label class="item item-input">
                    <span class="input-label">Placa</span>
                    <input  type="text" ng-model="datos.placa" ng-keyup="uppercase_placa()" placeholder="ABC123" />
                </label>
            </ion-list><!-- Alert message -->
            <div class="spacer" style="height: 50px; color : red; text-align: center; padding-top: 10px">{{datos.mensaje}}</div>
            <button class="button button-stable button-block"  ng-click="verificar_acceso()" type="button">Consultar</button>
        </form>
    </ion-content>
</ion-view>