<ion-tabs class="tabs-icon-top tabs-color-active-positive">
	<!-- Home tab -->
	<ion-tab title=" Inicio " icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" href="#/tab2/home">
		<ion-nav-view name="tab-Inicio"></ion-nav-view>
	</ion-tab>
	
	<!-- Data tab -->
	<ion-tab title=" Datos " icon-off="ion-ios7-compose-outline" icon-on="ion-ios7-compose" href="#/tab/datos">
		<ion-nav-view name="tab-datos"></ion-nav-view>
	</ion-tab>
	
	<!-- Permissions tab -->
	<ion-tab title="Permisos" icon-off="ion-ios7-paper-outline" icon-on="ion-ios7-paper" href="#/tab/lista_permisos">
		<ion-nav-view name="tab-permisos"></ion-nav-view>
	</ion-tab>
	
	<!-- Ballots tab -->
  	<ion-tab title="Papeletas" icon-off="ion-ios7-speedometer-outline" icon-on="ion-ios7-speedometer" href="#/tab/lista_papeletas">
  		<ion-nav-view name="tab-papeletas"></ion-nav-view>
  	</ion-tab>

	<!-- Infraction tab -->
	<ion-tab title="Infracciones" icon-off="ion-ios7-bookmarks-outline" icon-on="ion-ios7-bookmarks" href="#/tab/lista_infracciones">
		<ion-nav-view name="tab-infracciones"></ion-nav-view>
	</ion-tab>
</ion-tabs>
