<ion-tabs class="tabs-icon-top tabs-color-active-positive">
	<!-- Tab Consultar Papeletas -->
  	<ion-tab title="Inicio" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" href="#/tab2/home'">
  		<ion-nav-view name="tab-home"></ion-nav-view>
  	</ion-tab>
  	<!-- Tab List Infraction -->
  	<ion-tab title="Infracciones" icon-off="ion-ios7-bookmarks-outline" icon-on="ion-ios7-bookmarks" href="#/tab2/lista_infracciones">
		<ion-nav-view name="tab-infracciones"></ion-nav-view>
	</ion-tab>
</ion-tabs>
